.container{
    border: 1px solid #aaaaaa;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 48px;
    border-radius: 4px;
    margin: 15px;
}

.container span{
    display: inline-flex;
    height: 48px;
    width: 48px;
    align-items: center;
    justify-content: center;
}

.container img{
    display: block;
    width: 20px;
}

.container input, .container textarea{
    font-style: italic;
    font-family: 'Open Sans';
    width: calc(100% - 48px);
    height: 100%;
    padding: 5px;
    color: 1px solid var(--details);
}

.container textarea{
    padding: 10px 5px;
}

.large{
    height: 130px;
}