.container{
    width: 100%;
    padding-left: 40px;
}
.container h3{
    margin: 0px;
    padding: 10px 0px;
    font-size: 16px;
    color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    width: 100px;
    align-items: center;
}
.container h3 img{
    display: inline-block;
    width: 14px;
}
.container p{
    font-size: 14px;
    color: var(--details);
}