.container{
    height: calc(100vh - 60px);
    background: url(../../images/home.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}
.container > div{
    background: #ffffff88;
    position: absolute;
    height: 100%;
    width: 100%;
}
.container > h1{
    position: absolute;
    top: 35%;
    font-size: 64px;
    left: 100px;
    color: var(--dark-blue);
    font-weight: bolder;
}
.container > h2{
    position: absolute;
    top: calc(35% + 105px);
    font-size: 24px;
    left: 103px;
    color: #1c1c1c;
}

@media (max-width: 767px){
    .container > h1{
        font-size: 50px;
        left: 20px;
    }
    .container > h2{
        font-size: 20px;
        left: 23px;
        top: calc(35% + 85px);
    }
}