.title{
    color: var(--dark-blue);
    font-size: 40px;
    text-align: center;
    margin: 0px;
    padding: 50px 0px 30px;
}

@media (max-width: 767px){
    .title{
        font-size: 30px;
    }
}