.button{
	background: white;
    color: var(--dark-blue);
    font-size: 16px !important;
    height: 40px;
    width: 150px;
    border: 1px solid var(--dark-blue);
    transition: all 0.2s;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    margin: auto;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.button img{
    display: inline-block;
    height: 16px;
    padding-left: 10px;
}

.button:hover{
    background: var(--dark-blue);
    color: white;
}

.button:hover img{
    filter: brightness(20);
}