.container{
    max-width: 1000px;
    margin: auto;
    display: flex;
    padding-bottom: 20px;
}
.mission, .vision{
    position: relative;
    width: 100%;
}
.container img{
    position: absolute;
    top: 0px;
    left: 30px;
    height: 40px;
}
.container h3{
    text-align: center;
    font-weight: normal;
    color: var(--dark-blue);
    font-size: 26px;
}
.centerLine{
    display: block;
    height: 120px;
    border-right: 1px solid var(--details);
    position: relative;
    margin: 60px;
}
.centerLine::after{
    content: '';
    padding: 8px;
    position: absolute;
    left: -10px;
    top: 55px;
    border: 3px solid white;
    background: var(--light-blue);
    border-radius: 100%;
}
.mission p{
    text-align: right;
    font-size: 14px;
}
.vision p{
    text-align: left;
    font-size: 14px;
}
.vision img{
    top: unset;
    left: unset;
    bottom: -20px;
    right: 0px;
    transform: rotate(180deg)
}