.container{
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
}

.gallery{
    overflow: hidden;
    max-width: 1000px;
    margin: auto;
    position: relative;
    background: whitesmoke;
    object-fit: contain;
}

.image {
    object-fit: contain;
    max-width: 1000px;
    max-height: 500px;
}