.container {
  width: 100%;
  height: fit-content;
  padding-bottom: 10px;
}

.gallery {
  overflow: hidden;
  max-width: 1000px;
  margin: auto;
  position: relative;
  background: whitesmoke;
  object-fit: contain;
}

.img {
  display: flex;
  height: 500px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.img img {
    display: block;
    margin: auto;
  width: 100%;
  object-fit: contain;
  height: 100%;

}
