.title{
    color: var(--dark-blue);
    font-size: 30px;
    text-align: left;
    margin: 0px;
    padding: 10px 0px;
    font-weight: normal;
}

@media (max-width: 767px){
    .title{
        font-size: 26px;
    }
}