.container{
    display: block;
    max-width: 1000px;
    margin: auto;
}
.subtitle{
    max-width: 1000px;
    margin: auto;
}
.container h4{
    color: var(--dark-blue);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0 8px;
}
.details{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;
    overflow: auto;
}
.details > div{
    margin: 0 4px;
    padding: 0 8px;
}